body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 7vh;
  border-bottom: 2px solid #026398;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.header a{
  font-size: large;
  text-decoration: none;
  color: #026398;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #026398;
}

.header .active{
  color: white;
  background-color: #026398;
}

.carts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid #026398;
  border-radius: 30px;
  margin: 10px;
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.select{
  text-align: center;
  font-size: large;
  color: white;
  background-color: #026398;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #026398;
  margin: 30px;
}